body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
}
.card {
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.card-header {
    background-color: #007bff;
    color: #fff;
    border-radius: 15px 15px 0 0;
    padding: 20px;
    text-align: center;
}
.card-body {
    padding: 30px;
}
.form-label {
    font-weight: bold;
}
.btn-primary {
    background-color: #007bff;
    border: none;
    border-radius: 50px;
    padding: 10px 30px;
    font-size: 16px;
    transition: background-color 0.3s;
}
.btn-warning{
    background-color: #696009;
    border: none;
    border-radius: 50px;
    padding: 10px 30px;
    font-size: 16px;
    transition: background-color 0.3s;
}
.btn-primary:hover {
    background-color: #0056b3;
}
.form-control {
    border-radius: 50px;
    padding: 15px 20px;
    border: 1px solid #ced4da;
    transition: border-color 0.3s;
}
.form-control:focus {
    border-color: #007bff;
    box-shadow: none;
}
.form-section {
    margin-bottom: 40px;
}
.form-section h2 {
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
    margin-bottom: 30px;
}